doctype html
html
    head
        title= title
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        link(rel='stylesheet', href='/bootstrap-3.3.5-dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div.mod-page
            div.mod-top-bar
                div.center
                    a.mod-logo(href="/")
                        img.logo(alt="众成电话本" src="/images/logo.png")
                        .title
                            p 众成电话本
                            p.subtitle -- 就是那么简单
            div.mod-banner
                .center
                    .mod-banner-desc
                        .subject
                            .title
                                p 找人， 就是那么简单
                                p.subtitle 海量联系人， 全新体验
                                a.big_download.ui-corner-all(href="/app.apk" target="new")
                                    img(src="/images/android.png" alt="android")
                                    span 免费下载

                    .mod-banner-picture
                        img(src="/images/list.jpg" alt="众成电话本 - 联系人")
                    .clear
            div.mod-feature
                .center
                    div.mod-feature-list
                        div.mod-feature_item
                            div.mod-feature_item-panel
                                div.header
                                    p 关键词查找
                                div.content
                                    img(src="/images/features_keyword.jpg" alt="关键词查找")
                                div.footer
                                    p “我记得有个人口才很好，简直是个演讲家”
                                    p -- 给他设个关键词：“演讲” 方便以后从联系人中快速找到他

                        div.mod-feature_item
                            div.mod-feature_item-panel
                                div.header
                                    p 蓝牙同步联系人
                                div.content
                                    img(src="/images/features_bt.jpg" alt="与其它手机同步")
                                div.footer
                                    p “肥荣的资料更新啦？ 分享一下吧”
                                    p -- 我们有共同的联系人，那就同步一下咯

                        div.mod-feature_item
                            div.mod-feature_item-panel
                                div.header
                                    p 批量更新
                                div.content
                                    img(src="/images/features_batch_filter.jpg" alt="批量更新")
                                div.footer
                                    p “你知道吗，原来他们都是同一个省的”
                                    p -- 何不一次性在他们的关键词里加个省名呢
            .clear
            div.mod-footer
                .center
                    ul.mod-footer-links
                        li
                            a(href="") 关于众成电话本
                        li
                            a(href="mailto:owm@gmail.com") 联系我们