meta(name="description",content="众成电话本是一款安卓应用，致力于帮助用户管理手机上的联系人信息，由其在不同用户间拥有大量相同的联系人时，众成电话本能更便捷的帮助用户维护、同步联系人的信息。")
meta(name="keywords",content="众成电话本, http://www.zc-phone.com")
meta(name="keywords",content="关键词查找联系人, 蓝牙同步联系人,批量修改联系人, 安卓app 电话本， 海量联系人管理")
