.center {
  margin-left: auto;
  margin-right: auto;
}
.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-bar {
  background: #F8F8F8;
  height: 80px;
}
.top-bar .logo {
  float: left;
  display: block;
  height: 80px;
  line-height: 80px;
  width: 350px;
}
.top-bar .logo a,
.top-bar .logo a:hover,
.top-bar .logo a:visited,
.top-bar .logo a:active {
  text-decoration: none;
  color: #000;
  font-size: xx-large;
}
.top-bar .logo h3 {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}
.top-bar .logo h3 p {
  margin: 0;
  display: block;
  text-align: right;
  font-size: 14px;
  color: #555555;
}
.top-bar .links {
  float: right;
  text-align: right;
}
.top-bar .links a {
  line-height: 80px;
  font-size: large;
}
.banner {
  padding: 30px 0;
  border-bottom: solid 1px #eeeeee;
}
.banner .banner-desc .subject {
  margin-left: auto;
  margin-right: auto;
  margin: auto 0 20px 0;
  text-align: center;
}
.banner .banner-desc .subject .title {
  font-size: 48px;
  font-weight: bold;
}
.banner .banner-desc .subject .subtitle {
  font-size: 28px;
  color: #555555;
}
.banner .banner-desc .subject a span {
  margin-left: 20px;
}
.banner .banner-desc .version {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.banner .banner-picture .banner-items {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.features {
  margin-top: 20px;
  margin-bottom: 40px;
}
.panel-heading {
  border-bottom: solid 1px #eeeeee;
}
.panel-heading .panel-title {
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.panel-body {
  text-align: center;
}
.panel-body img {
  margin-bottom: 20px;
}
.page-footer {
  background: #F8F8F8;
  height: 80px;
}
.page-footer ul.nav li {
  float: left;
  margin-left: 15px;
}
.page-footer ul.nav li a {
  line-height: 60px;
  font-size: large;
}
.page-footer ul.nav li:first-of-type {
  margin-left: 0;
  border-left: none;
}
