html, body {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ol, ul {
    list-style: none
}

q:before, q:after, blockquote:before, blockquote:after {
    content: ""
}

html {
    overflow-y: scroll;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted
}

a:hover, a:active {
    outline: none 0
}

article, aside, details, figcaption, figure, footer, header, nav, section {
    display: block
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button, input {
    line-height: normal;
    *overflow: visible
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    vertical-align: top
}

body {
    color: #333333
}

a {
    color: #333;
    text-decoration: none
}

.clear {
    clear: both
}

.clear_after {
    clear-after: both
}

.ui-corner-all {
    -webkit-border-radius: .25em;
    border-radius: .25em
}

.ui-shadow {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0)
}

.ui-shadow-inset {
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0)
}

.mod-top-bar {
    background: #F8F8F8;
    height: 80px
}

.mod-top-bar .center {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 1200px
}

.mod-top-bar .center a.mod-logo {
    font-family: arial, sans-serif;
    position: static;
    text-decoration: none
}

.mod-top-bar .center a.mod-logo img.logo {
    float: left
}

.mod-top-bar .center a.mod-logo .title {
    display: inline-block;
    margin: 20px
}

.mod-top-bar .center a.mod-logo .title p {
    font-size: xx-large;
    color: #000000
}

.mod-top-bar .center a.mod-logo .title p.subtitle {
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
    color: #999;
    text-align: right
}

.mod-banner {
    height: 500px;
    overflow: hidden;
    padding: 30px 0
}

.mod-banner .center {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px #c1c1c1;
    clear: both;
    clear-after: both
}

.mod-banner .center .mod-banner-desc {
    width: 700px;
    height: 500px;
    display: inline-block;
    float: left;
    text-align: center
}

.mod-banner .center .mod-banner-desc .subject {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px
}

.mod-banner .center .mod-banner-desc .subject .title {
    font-size: 48px
}

.mod-banner .center .mod-banner-desc .subject p.subtitle {
    font-size: 28px;
    color: #999;
    line-height: 48px;
    text-align: right
}

.mod-banner .center .mod-banner-desc .big_download {
    border: solid 1px #cccccc;
    font-size: 30px;
    padding: 10px 30px;
    text-align: center;
    line-height: 50px
}

.mod-banner .center .mod-banner-desc .big_download img {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px
}

.mod-banner .center .mod-banner-desc .big_download span {
    display: inline-block
}

.mod-banner .center .mod-banner-desc .big_download, .mod-banner .center .mod-banner-desc .big_download:visited {
    background: #E6E6E6;
    border-color: #cccccc;
    color: #333333
}

.mod-banner .center .mod-banner-desc .big_download:hover, .mod-banner .center .mod-banner-desc .big_download:active {
    background: #E6E6E6;
    border-color: #666666;
    color: #000000
}

.mod-banner .center .mod-banner-picture {
    width: 500px;
    height: 500px;
    display: inline-block;
    float: left;
    text-align: center
}

.mod-feature {
    margin: 20px 0
}

.mod-feature .center {
    width: 1200px;
    margin-left: auto;
    margin-right: auto
}

.mod-feature .center .mod-feature-list {
    zoom: 1
}

.mod-feature .center .mod-feature-list .mod-feature_item {
    float: left;
    margin-left: 70px;
    width: 330px
}

.mod-feature .center .mod-feature-list .mod-feature_item .mod-feature_item-panel .header {
    height: 30px;
    text-align: center;
    margin-bottom: 20px
}

.mod-feature .center .mod-feature-list .mod-feature_item .mod-feature_item-panel .header p {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold
}

.mod-feature .center .mod-feature-list .mod-feature_item .mod-feature_item-panel .content {
    text-align: center
}

.mod-feature .center .mod-feature-list .mod-feature_item .mod-feature_item-panel .content img {
    height: 415px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.mod-feature .center .mod-feature-list .mod-feature_item .mod-feature_item-panel .footer {
    margin-top: 20px
}

.mod-feature .center .mod-feature-list .mod-feature_item .mod-feature_item-panel .footer p {
    margin-top: 7px;
    line-height: 24px
}

.mod-feature .center .mod-feature-list .mod-feature_item .mod-feature_item-panel .footer p:first-of-type {
    margin-top: 0
}

.mod-feature .center .mod-feature-list .moe-feature_item:first-of-type {
    margin-left: 0
}

.mod-footer {
    margin-top: 40px;
    height: 60px;
    border-top: solid 1px #c1c1c1
}

.mod-footer .center {
    width: 1200px;
    margin-left: auto;
    margin-right: auto
}

.mod-footer .center .mod-footer-links li {
    float: left;
    margin-left: 20px
}

.mod-footer .center .mod-footer-links li a {
    line-height: 60px
}

.mod-footer .center .mod-footer-links li:first-of-type {
    margin-left: 0
}